<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post</title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <p>Post Name: <input type="text" name="name"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit" id="Submit" value="submit">
    </form>
  </body>
</html>
